<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% include templates/header.ejs %>

   <h3><%=title %></h3>

   <p>Hi my name is <%=name %></p>
   <p>This is an assignment test info text page.</p>
   <p>This test was requested by company iBillBoard as part of the job application process.</p>
   <p>I have read online many different sources and hopefully the produced pages fullfill the requirements.</p>
   <p>Greetings to Czechia!!!</p>
   <p>You may notice that link "Home" does not add to count and link "Add to count" does.</p>
   <p></p>

  </body>
</html>
